<div id="<%= dom_id comment %>">
  <p>
    <strong>Content:</strong>
    <%= comment.content %>
  </p>
  <hr>
  <p>
    <strong>comentado por:</strong>
    <%= comment.user.name %>
  </p>
  <p>
    <strong>Post:</strong>
    <%= comment.post.title %>
  </p>
</div>
